.sidebar-wrapper {
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: -1;
	@extend %fix-position;
	transition: all 0.3s ease;
	&_active {
		display: block;
		opacity: 1;
		z-index: 0;
	}
}

.sidebar {
	@extend %fix-position;
	left: -330px;
	width: 320px;
	height: 100%;
	padding: 65px 0 0 7px;
	background: linear-gradient(45deg, $color-menu-first, $color-menu-second);
	transition: all 0.3s ease;
	&_active {
		left: 0px;
	}
	&__link {
		display: block;
		margin-bottom: 0px;
		margin-block-start: 10px;
		font-size: 2.4rem;
		color: lighten($color-text, 20%);
		text-decoration: none;
		cursor: pointer;
		&_active {
			color: $color-text;
			text-decoration: underline;
		}
		&:hover {
			color: $color-text;
			text-decoration: underline;
		}
	}
}

