.stats {
    & > {
        width: 100%;
    }

    &__title {
        font-size: 3rem;
        text-align: center;
    }

    &__content {
        font-size: 2.2rem;
        border-collapse: collapse;
    
        & td {
            border: 1px solid black;
        }
    
        & td:not(:first-child) {
            text-align: center;
        }
        @media (max-width: 510px) {
            font-size: 1.2rem;
        }
    }

    &__panel {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }
}

.panel {
    &__button {
        margin-right: 10px;
        height: 30px;
        font-size: 2rem;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
    }
    &__delete {
        color: red;
    }
}