html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  & > * {
    width: 85%;
  }
}

.main {
  justify-content: center;
}