.card {
	width: 350px;
	height: 300px;
	margin: 20px;
	cursor: pointer;
	border-radius: 10px;
	perspective: 1000px;
	&__text {
		margin-top: 60px;
		text-align: center;
		font-size: 2.5rem;
	}
	&_non-active {
		filter: grayscale(1);
	}
	@include media-mobile {
		height: 330px;
	}
	@include media-phone {
		height: 300px;
	}
}

.category-card {
	box-shadow: 0px 0px 7px -2px;
	&__wrapper {
		display: flex;
		justify-content: center;
		background: linear-gradient(45deg, $color-primary, $color-additional);
	}
	
	&:hover .category-card__wrapper {
		background: linear-gradient(45deg, lighten($color-primary, 10%), lighten($color-additional, 10%));
	}

	&__image {
		width: 250px;
		position: relative;
		top: 50px;
		border: 10px solid white;
		border-radius: 12px;
	}
	&:hover {
		box-shadow: 0px 0px 13px -2px;
	}
}

.word-card {
	&__image {
		width: 100%;
		border-radius: 10px;
	}

	&__text {
		margin-top: 5px;
		margin-block-start: 0;
  		margin-block-end: 0;
	}

	&__rotate {
		position: relative;
		top: -45px;
		left: 300px;
		width: 35px;
		height: 43px;
		background-image: url("../assets/img/rotate.svg");
		@include media-mobile {
			margin: auto;
			position: static;
		}	
	}

	&_front, &_back {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transition: 1s;
		backface-visibility: hidden;
		border-radius: 10px;
		box-shadow: 0px 0px 7px -2px;
	}
	&_back {
		transform: rotateY(180deg);
	}
	&_play {
		height: 235px;
	}
	&:hover {
		transform: scale(1.05);
	}
}

.rotated-front {
	transform: rotateY(180deg);
}

.rotated-back {
	transform: rotateY(360deg);
}