.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: 20px auto;
  &__settings {
    display: flex;
  }
  & > * {
    @include media-mobile {
      margin: auto;
      margin-bottom: 10px;
    }
  }
}