$color-primary: #bada55;
$color-additional: #d3e597;
$color-text: black;
$color-menu-first: #a18cd1;
$color-menu-second: #fbc2eb;
$color-button-first: #FF6700;
$color-button-second: #FFAB73;
$color-retry-first: #DC0055;
$color-retry-second: #EE6B9E;

$color-nonactive: grey;