.button,
.language__select {
  min-width: 50px;
  height: 50px;
  margin: 0 5px;
  font-size: 1.4rem;
  color: $color-text;
  background-color: $color-button;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &_active {
    background-color: $color-active-button;
  }
}

.update {
  background-image: url("../assets/svg/refresh.svg"), url("../assets/svg/image.svg");
  background-size: 65%, 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.type-temperature__button {
  margin: 0;
}

.search__find {
  width: 70px;
  margin: 0;
}