.map {
  display: flex;
  justify-content: flex-end;
  & > * {
    @include media-mobile {
      min-width: 0;
      width: 100%;
    }
  }
  &__coordinates {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $color-text;
    font-size: 1.8rem;
    margin-top: 10px;
    & > * {
      margin-block-start: 0;
    }
  }
}

#map {
  width: 500px;
  height: 500px;
  border-radius: 51% 49% 70% 30% / 30% 31% 69% 70%;
}