.weather__icon {
  width: 150px;
  height: 150px;
  &_rain {
    background-image: url("../assets/svg/rain.svg");
    @extend %centered-icons;
  }
  &_cloud {
    background-image: url("../assets/svg/cloud.svg");
    @extend %centered-icons;
  }
  &_snow {
    background-image: url("../assets/svg/snow.svg");
    @extend %centered-icons;
  }
  &_sun-cloud {
    background-image: url("../assets/svg/sun-cloud.svg");
    @extend %centered-icons;
  }
  &_sun {
    background-image: url("../assets/svg/sun.svg");
    @extend %centered-icons;
  }
}