.weather__icon,
.day__icon {
  width: 150px;
  height: 150px;
  &_rain {
    background-image: url("../assets/svg/rain.svg");
  }
  &_cloud {
    background-image: url("../assets/svg/cloud.svg");
  }
  &_snow {
    background-image: url("../assets/svg/snow.svg");
  }
  &_sun-cloud {
    background-image: url("../assets/svg/sun-cloud.svg");
  }
  &_sun {
    background-image: url("../assets/svg/sun.svg");
  }
  &_thunder {
    background-image: url("../assets/svg/thunder.svg");
  }
}

.weather__icon {
  @extend %centered-icons;
  @include media-tablet {
    transform: translateX(150px) translateY(-20px) scale(0.7);
  }
  @include media-phone {
    transform: translateX(130px) translateY(-30px) scale(0.5);
  }
}

.day {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    margin-right: 20px;
    font-weight: bold;
  }
  &__name {
    width: 100%;
    font-size: 2rem;
  }
  &__temperature {
    font-size: 7rem;
  }
  &__icon {
    position: absolute;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    transform: translateX(100px) translateY(-10px);
  }
}