.search {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 50px;
  margin: auto;
  border: 1px solid $color-darkens;
  border-radius: 30px;
  box-shadow: 0px 0px 7px -2px;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 0px 13px -2px;
  }
  & > * {
    border: none;
  }
  &__input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1.8rem;
  }
  &__button {
    width: 50px;

    cursor: pointer;
  }
  &__keyboard {
    background: 
      url("../assets/keyboard.png"),
      linear-gradient(90deg, #FCBF49, #F77F00);
    background-position: center;
    background-repeat: no-repeat;
  }
  &__submit {
    background: 
      url("../assets/search.png"),
      linear-gradient(90deg, #F77F00, #D62828);
    background-position: center;
    background-repeat: no-repeat;
  }
}