.cards {
  margin: auto;
  width: 1300px;
  overflow: hidden;
  margin: 30px auto;

  @include media-desktop-big {
    width: 1100px;
  }

  @include media-desktop {
    width: 700px;
  }

  @include media-tablet {
    width: 380px;
  }

  @include media-phone {
    width: 100%;
  }
  &_dark .card__wrapper {
    background-color: $color-card-dark;
  }
}

.swiper-pagination {
  position: static;
}

.swiper-pagination {
  display: none;
  margin: 10px 0;

  &-bullet {
    width: 13px;
    height: 13px;
  }
}

.swiper-scrollbar {
  opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: $color-additional;
}

.swiper-pagination-bullet-active {
  background-color: $color-additional;
}

.swiper-button-next,
.swiper-button-prev {
  @include media-phone {
    display: none;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
  &:hover {
    transform: scale(1.02);
  }
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  min-height: 480px;
  box-shadow: 0px 0px 7px -2px;
  border-radius: 20px;

  &:hover {
    box-shadow: 0px 0px 13px -2px;
  }
  @include media-tablet {
    margin: 3px;
  }
}

.film {
  font-size: 2rem;

  &__name {
    padding: 10px 5px;
    color: $color-text;
    text-decoration: none;
  }

  &__image {
    width: 310px;
    height: 425px;
    padding: 10px 0;

    @include media-desktop-big {
      width: 250px;
      height: 365px;
    }

    @include media-desktop {
      width: 200px;
      height: 315px;
    }

    @include media-tablet {
      width: 95%;
      height: 95%;
    }
  }
  
  &__year {
    padding: 5px;
  }

  &__rate::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background: url("../assets/star.png");
    background-position: top right;
    background-repeat: no-repeat;
  }
}